# symlinks for dongles
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="0083", SYMLINK+="sndongle"
SUBSYSTEM=="tty", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="800b", SYMLINK+="snfeather"


# ??? old? legacy? deprecated?
SUBSYSTEM=="usb", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204" MODE="0666"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204" MODE="0666"


